#about {
    background-color: var(--colour-green);
    color: var(--colour-dark);
    padding: 64px 0;

    .team-members-list {
        flex-direction: row-reverse;
    }
    .team-members-list-item {
        &:not(:first-of-type) {
            border-top: 1px solid rgba(34,34,47,.3);
            margin-top: 32px;
            padding-top: 32px;
        }
    }
    .team-member-image-container {
        border: 16px solid var(--colour-dark);
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        max-width: 320px;
        overflow: hidden;
        position: relative;
        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }
    .team-member-content {
        margin-top: 32px;
    }
    .team-member-name {
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
    }
    .team-member-position {
        font-weight: 500;
    }
    .team-member-description {
    }
    .team-member-link {
        color: rgba(34,34,47,.7);
        &:hover {
            color: rgba(34,34,47,.9);
        }
    }
    @media (min-width: 768px) {
        .team-member {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .team-members-list-item:nth-child(odd)  {
            .team-member { 
                flex-direction: row-reverse;
            }
            .team-member-content {
                text-align: right;
            }
        }
        .team-member-content,
        .team-member-image-container {
            flex: 0 0 calc(~"50% - 16px");
        }
        .team-member-image-container {
            max-width: initial;
            margin: 0;
        }
        .team-member-content {
            margin-top: 0;
        }
    }
}