#header {
    margin: 0 auto;
    max-width: 768px;
    position: relative;
    z-index: 3;

    .header-logo {
        margin: 0 auto;
        margin-bottom: -120px;
        max-width: 240px;

        .sky{
            fill:#7dcccc;
        }
        .mountain{
            fill:#eba396;
            stroke: #22222f;
            stroke-width: 1px;
            stroke-dasharray: 500;
            stroke-dashoffset: 500;
            transform: translate(-22px, 50%);

            &.animate {
                transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1), 
                    stroke-dashoffset 3s ease-out;
            }
        }
        .border {
            fill: transparent;
            stroke: #22222f;
            stroke-width: 64px;
        }
    }

    .header-content {
        background-color: var(--colour-green);
        color: var(--colour-dark);
        padding: 120px 16px 0 16px;
        text-align: center;
    }
    .site-title {
        color: var(--colour-pink);
        text-transform: uppercase;
        font-size: 18px;
        font-style: italic;
        font-weight: 900;
        margin-top: 16px;
        text-shadow: 1px 1px 0 var(--colour-dark), 2px 2px 0 var(--colour-dark);
    }
    .site-tagline {
        font-size: 24px;
    }

    .header-navigation {
        margin-top: 16px;
        .site-link-list {
            list-style: none;
        }
        .site-link-list-item {
            &:not(:first-of-type) {
                margin-top: 8px;
                border-top: 1px solid var(--colour-green);
            }

            a {
                display: block;
                font-size: 14px;
                font-weight: 900;
                letter-spacing: .2em;
                padding: 8px 0;
                text-transform: uppercase;
            }
        }
    }
    
    @media (min-width: 576px) {
        align-items: center;
        display: flex;
        justify-content: center;;
        position: relative;
        .header-content {
            background-color: var(--colour-dark);
            color: var(--colour-light);
            flex: 1 0 50%;
            text-align: left;
            padding: 0 32px;
        }


        .site-title {
            font-size: 24px;
        }
        .site-tagline {
            font-size: 36px;
        }

        .header-logo {
            flex: 0 1 50%;
            margin-bottom: 0;
            min-width: 180px;
            padding-top: 0;
            .border {
                fill: transparent;
                stroke: var(--colour-dark);
                stroke-width: 48px;
            }
        }
        .header-logo svg {
            position: relative;
            transform-origin: center right;
            transform: translate(32px, 0) scale(2);
        }

        .header-navigation .site-link-list-item {
            &:not(:first-of-type) {
                border-top: none;
            }
        }

    }

    @media (min-width: 768px) {
        .header-logo {
            svg {
                transform: translate(0, 0) scale(1.5);
            }
        }
        .header-navigation .site-link-list-item {
            display: inline-block;
            &:not(:first-of-type) {
                margin-top: 0;
                margin-left: 16px;
            }
        }

    }
    
}