@import 'social-icon-font';

:root {
    --dark: #22222f;
    --font-family-monospace: monospace;
    --font-family-sans-serif: 'Roboto', sans-serif;
    --font-family-system: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --light: #fafafa;
    --primary: #cc9495;
    --primary-tint: #ea634b;
    --primary-tone: #845a5a;
    --secondary: #94ccca;
}
body {
  background-color: var(--dark);
  color: var(--light);
  font-size: 16px;
  font-family: var(--font-family-system);
  font-weight: 300;
}
a, a:active, a:focus, a:hover {
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
}
img {
  width: 100%;
}