.services {
    padding-top: 64px;
    @media (min-width: 992px) {
        padding-bottom: 32px;
    }

    .services-title {
        font-family: var(--font-family-system);
        font-size: 48px;
        font-weight: 100;
        line-height: 1;
    }

    .services-section-title {
        font-family: var(--font-family-system);
        font-size: 48px;
        font-weight: 100;
        line-height: 1;
    }
    .services-splash {
        padding: 64px 0;

    }

    .container.services-container {
        @media (max-width: 993px) {
            max-width: 100%;
        }
    }
    .services-item {
        overflow: hidden;
        z-index: 1;
        padding-left: 0;
        padding-right: 0;
    }
    .services-item-content {
        color: var(--light);
        padding: 32px;
        position: relative;

        @media (min-width: 768px) {
            height: 100%;
        }
    }
    .services-item-image {
        filter: blur(3px);
        height: 102%;
        left: 0;
        object-fit: cover;
        opacity: .24;
        position: absolute;
        top: 0;
        width: 102%;
        z-index: -2;
    }
    .services-item-title {
        font-size: 24px;
        margin-bottom: 32px;
        text-align: center;
    }
    .services-item-body {
        line-height: 1.6;

        p {
            margin: 0;
        }
    }
}